    h1{
        font-family: veranda;
        text-align: center;
        font-size: 16px;
    }
    h2{
        font-family: veranda;
        text-align: left
        font-size: 15px;
    }
    h3{
        font-family:veranda;
        text-align: left;
        font-size:1px;
        }
    h4{
        font-family: veranda;
        text-align: center;
        font-size:13px;
    margin{
        margin: 20% auto;
        padding: 20%;
        background-color: light pink;
    }
        